<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <sitecore.experienceeditor.speak.requests>
      <request name="ExperienceEditor.PreviewDate.AddDays" type="Sitecore.Support.ExperienceEditor.Speak.Ribbon.Requests.PreviewDate.AddDaysRequest, Sitecore.Support.82260.111553" patch:instead="request [@type='Sitecore.ExperienceEditor.Speak.Ribbon.Requests.PreviewDate.AddDaysRequest, Sitecore.ExperienceEditor.Speak.Ribbon']"/>
      <request name="ExperienceEditor.PreviewDate.GetPreviewDateUrl" type="Sitecore.Support.ExperienceEditor.Speak.Ribbon.Requests.PreviewDate.GetPreviewDateUrlRequest, Sitecore.Support.82260.111553" patch:instead="request [@type='Sitecore.ExperienceEditor.Speak.Ribbon.Requests.PreviewDate.GetPreviewDateUrlRequest, Sitecore.ExperienceEditor.Speak.Ribbon']"/>
      <request name="ExperienceEditor.PreviewDate.SetDateValue" type="Sitecore.Support.ExperienceEditor.Speak.Ribbon.Requests.PreviewDate.SetDateValueRequest, Sitecore.Support.82260.111553" patch:instead="request [@type='Sitecore.ExperienceEditor.Speak.Ribbon.Requests.PreviewDate.SetDateValueRequest, Sitecore.ExperienceEditor.Speak.Ribbon']"/>
    </sitecore.experienceeditor.speak.requests>
  </sitecore>
</configuration>